<h1>Would you like to work</h1>
<div class="row">
	<div class="col-md-6">
		<h3>haha</h3>
	</div>
	<div class="col-md-6">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3834.1040946153794!2d108.17455261479289!3d16.060087188886598!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3142191b19ad8041%3A0xd465c2fdfbaf5772!2zMiBUw7RuIMSQ4bqjbiwgSMOyYSBBbiwgQ-G6qW0gTOG7hywgxJDDoCBO4bq1bmcsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1522632653458" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
	</div>
</div>